{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}ResumeController{% endblock %}

{% block body %}

    <a href="/company/list"><h3>Company List</h3></a>
    <br>
    <a href="/resume/list"><h3>Resumes list</h3></a>
{% endblock %}