<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Resume Controller</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collpse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/company/new" class="nav-link">New company</a>
                </li>
                <li class="nav-item">
                    <a href="/resume/list" class="nav-link">Resume list</a>
                </li>
                <li class="nav-item">
                    <a href="/company/list" class="nav-link">Company list</a>
                </li>
            </ul>
        </div>
    </div>
</nav>