
<table id="resumes" class="table table-striped">
    <thead>
    <tr>
        <th><h3>Resume title</h3></th>
        <th><h3>Actions</h3></th>
        <th>
            <button class="btn btn-primary" onclick="filterByLikes()">Filter</button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for resume in resumes %}
        <tr>
            <td><h3>{{ resume.jobTitle }}</h3></td>
            <td>
                <a href="/resume/{{ resume.id }}" class="btn btn-dark">Show</a>
                <a href="/resume/edit/{{ resume.id }}" class="btn btn-light">Edit</a>
                <a href="#" class="btn btn-danger delete-article" data-id="{{ resume.id }}">Delete</a>
            </td>
            <td>
                <a href="javascript:void(0)" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-thumbs-up" onclick="like_update({{ resume.id }})"></span>
                    <span id="like-{{ resume.id }}">{{ resume.likes }}</span>
                </a>

                <a href="javascript:void(0)" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-thumbs-down" onclick="dislike_update({{ resume.id }})"></span>
                    <span id="dislike-{{ resume.id }}">{{ resume.dislikes }}</span>
                </a>
            </td>
        </tr>
    {% endfor  %}
    </tbody>

</table>