{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit Resume{% endblock %}


{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_start(form) }}
{% endblock %}
