{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}ResumeController{% endblock %}

{% block body %}

    <div class="resume-wrapper">
        <div class="resume-img">
            <img src="{{ asset('/img/resume.png') }}" class="img-fluid" alt="">
        </div>

        <div class="resume-info">
            <h2><b>Resume ID:</b> {{ resume.id }}</h2>
            <p><b>Resume Title:</b>  {{ resume.jobTitle }}</p>
            <p><b>Resume Text:</b>  {{ resume.resumeText }}</p>
            <p><b>Created Date:</b>  {{ resume.createdAt|date }}</p>
            <p class="test"><b>Changed Date:</b>  {{ resume.changedAt|date }}</p>
            <a href="javascript:void(0)" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-thumbs-up" onclick="like_update({{ resume.id }})"></span>
                <span id="like-{{ resume.id }}">{{ resume.likes }}</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-thumbs-down" onclick="dislike_update({{ resume.id }})"></span>
                <span id="dislike-{{ resume.id }}">{{ resume.dislikes }}</span>
            </a>


        </div>
    </div>

    <hr>
    <a href="/resume/list">Go Back</a>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}