{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}ResumeController{% endblock %}


{% block body %}
    {% if companies %}
        <table id="companies" class="table table-striped">
            <thead>
            <tr>
                <th>Company title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>
                        <a href="/company/{{ company.id }}" class="btn btn-dark">Show</a>
                        <a href="/company/edit/{{ company.id }}" class="btn btn-light">Edit</a>
                        <a href="#" class="btn btn-danger delete-article" data-id="{{ company.id }}">Delete</a>
                    </td>

                    <td>
                        <a href="/resume/new/{{ company.id }}" class="btn btn-primary">Send resume</a>
                    </td>
                </tr>
            {% endfor  %}
            </tbody>

        </table>
    {% else %}
        <p>No companies</p>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}