{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}ResumeController{% endblock %}

{% block body %}
    <div class="company-info">
        <h2><b>Company ID:</b> {{ company.id }}</h2>
        <p><b>Company name:</b> {{ company.name }}</p>
        <p><b>Company site Url:</b> {{ company.siteUrl }}</p>
        <p><b>Company address:</b> {{ company.address }}</p>
        <p><b>Company Phone Number:</b> {{ company.phoneNumber }}</p>
    </div>

    <hr>
    <a href="/resume/list">Go Back</a>
{% endblock %}